*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size: 100%;
}

body {
    background-color: #B1C9AF;
    font-family: 'Halant', serif;
    background-color: #A4ABCF;
  }
  
.navigation{
  text-align:end;
}

.navigation a{
margin-top: 6px;
 font-size:2.1em;
 letter-spacing: 1px;
 padding:.5em;
margin: 0;

}

.navigation a:hover{
text-decoration:white underline 4px ;
cursor:pointer;
}
