body {
    background-color: #B1C9AF;
    font-family: 'Halant', serif;
    background: linear-gradient(to right,
    #D2D9CE 63%, #838C7E 37%);
  }
  
.navigation{
  text-align:end;
}

.navigation a{
margin-top: 6px;
 font-size:2em;
 letter-spacing: 1px;
 padding:.5em;
margin: 0;
}

.navigation a:hover{
text-decoration:#D2D9CE underline 4px ;
cursor:pointer;
}

#home{
  background-color: white;
}