*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 100%;
  }
  
  body {
      background-color: #F1F2F6;
      font-family: 'Playfair Display', serif;
   
  
    }
    
  .navigation{
    text-align:end;
    background-color: #A4ABCF;
    padding-bottom: 10px;
  }
  
  .navigation a{
  margin-top: 6px;
   font-size:2.1em;
   letter-spacing: 1px;
   padding:.5em;
  margin: 0;
  color:black;
  text-decoration: none;
  }
  
  .navigation a:hover{
  text-decoration:white underline 4px ;
  cursor:pointer;
  }

  h1{
      font-size: 4rem;
      text-align: center;
      
     
  }
  h1:hover{
      text-decoration: underline #A4ABCF;
  }
  p{
    font-size: 1.6em;
   
    text-align:center ;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: .8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  button {
    background-color: black;
    color: white;
    padding: .8em 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 button:hover {
    background-color: white;
    color:black;
  }
  
  .contactForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  footer{
    font-size: .7em;
    text-align: center;

    background-color:#A4ABCF ;
    padding: 1rem;
  }
  @media screen and (max-width:760px) {
  }