*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 100%;
  }
  
  body {
      background-color: #F1F2F6;
      font-family: 'Playfair Display', serif;
   
  
    }
    .dark-mode{
      background-color:#6a70a5;
      color:black;
    }
  .navigation{
    text-align:end;
    background-color: #A4ABCF;
    padding-bottom: 10px;
   
  }
  
  .navigation a{
  margin-top: 6px;
   font-size:2.1em;
   letter-spacing: 1px;
   padding:.5em;
  margin: 0;
  color:black;
  text-decoration: none;
  }
  
  .navigation a:hover{
  text-decoration:white underline 4px ;
  cursor:pointer;
  }
#dropbtn{
  
}
  h1{
      font-size: 4rem;
      text-align: center;
      
     
  }
  h1:hover{
      text-decoration: underline #A4ABCF;
  }
  p{
    font-size: 1.6em;
   
    text-align:center ;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: .8em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #buttons {
    background-color: black;
    color: white;
    padding: .8em 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 #buttons:hover {
    background-color: white;
    color:black;
  }
  
  .contactForm {
    border-radius: 5px;
  
    padding: 20px;
  }

  footer{
    font-size: .7em;
    text-align: center;
    margin-top: 10rem;
    background-color:#A4ABCF ;
    padding: 1rem;
    
  }
  @media screen and (max-width:760px) {
    .navigation{
      text-align: center;
      background-color:#A4ABCF ;
    }
    .navigation a{
      text-align: center;
    }
    #dropbtn{
      color:black;
      font-size: 2rem;
    }
    
    .dropdown {
      font-size: 1rem;  
      border: none;
      outline: none;
      padding: 14px 16px;
     
      margin: 0;
    }
    
  
    
    .dropdown-items {
      display: none;
      text-decoration: center;
      background-color: #adb3ce;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-items a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
     
    }
    
    .dropdown-items a:hover {
      background-color: #ddd;
    }
    
    
    .dropdown:hover .dropdown-items {
      display: block;
      cursor:pointer;
  }
  }