*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size: 100%;
}

body {
    background-color: #F1F2F6;
    font-family: 'Playfair Display', serif;
 

  }
  
.navigation{
  text-align:end;
}

.navigation a{
margin-top: 6px;
 font-size:2.1em;
 letter-spacing: 1px;
 padding:.5em;
margin: 0;

}

.navigation a:hover{
text-decoration:white underline 4px ;
cursor:pointer;
}
body {
  background-color: #F1F2F6;
  font-family: 'Playfair Display', serif;
}
h1{
 position: absolute;
font-size: 4rem;
margin-left: 20%;
padding-top: 1em;
}
h1:hover{
color:#A4ABCF;
transform: scale(1.2);
}
#me{
    position: absolute;
    margin-left: 55%;
    margin-top: 5.7em;
    
    border: 2px solid black;

}
#about{
font-size: 1.2rem;
margin-left: 10%;
margin-right: 54%;
border: 2px solid black;
padding:9px 9px 9px 9px;

}
#git{
   padding-top: 15px;
    margin-left:6% ;
}
#git:hover{
  transform: scale(1.2);
}
#insta{
  margin-left:15% ;

}
#insta:hover{
  transform: scale(1.2); 
}
#message{
 margin-left:25%;
  padding-top: 14px;
}
#message:hover{
  transform: scale(1.2);
}

