*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size: 100%;
}

body {
    background-color: #F1F2F6;
    font-family: 'Playfair Display', serif;
 

  }
  .dark-mode{
    background-color:#6a70a5;
    color:white;
  }
  
  
.navigation{
  text-align:end;
  background-color: #A4ABCF;
  padding-bottom: 10px;
}

.navigation a{
margin-top: 6px;
 font-size:2.1em;
 letter-spacing: 1px;
 padding:.5em;
margin: 0;
color:black;
text-decoration: none;
}

.navigation a:hover{
text-decoration:white underline 4px ;
cursor:pointer;
}

h1{
 position: absolute;
font-size: 4rem;
margin-left: 20%;
padding-top: 1em;
}
h1:hover{
color:#A4ABCF;
transform: scale(1.2);
}
#me{
    position: absolute;
    margin-left: 55%;
    margin-top: 5.7em;
    
    border: 2px solid black;

}
#about{
font-size: 1.2rem;
margin-left: 10%;
margin-right: 54%;
border: 2px solid black;
padding:9px 9px 9px 9px;
margin-top: 10%;
}
.icons1{
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 16%;

}
#git{
  grid-area: "git";
  margin-top: 1rem;
  padding-left: 2.4em;
}
#git:hover{
  transform: scale(1.2);
}
#insta{

margin-top: 2rem;
}
#insta:hover{
  transform: scale(1.2); 
}
#message{
  
position: relative;

}
#message:hover{
  transform: scale(1.2);
}
footer{
  font-size: 1.3rem;
  text-align: center;
  margin-top:14.5em;
  background-color:#A4ABCF ;
  padding: 2rem;
}
button {
  font-family: 'Playfair Display', serif;
  background-color: #7882b4;
  padding:.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width:1200px) {
  .navigation{
    text-align: center;
    background-color:#A4ABCF ;
    /* width:100%; */
  }
  .navigation a{
    text-align: center;
  }
  #dropbtn{
    color:black;
    font-size: 2rem;
    width: 115%;
  }
  
  .dropdown {
    font-size: 1rem;  
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
    width: 115%;
  }
  

  
  .dropdown-items {
    display: none;
    text-decoration: center;
    background-color: #adb3ce;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-items a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
   
  }
  
  .dropdown-items a:hover {
    background-color: #ddd;
  }
  
  
  .dropdown:hover .dropdown-items {
    display: block;
    cursor:pointer;
}


 #banner{
   width:115%;
 }
  #me{
   
    margin-top: 0;
    padding:0;
    position: relative;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
  left:10%;
  }
  h1{
    position: relative;
    margin:0;
    padding:0;
    text-align: center;
    font-size: 3rem;
    left:10%;
   
  }
  #about{
   margin:0;
    padding:0;
    position: relative;
    text-align: center;
    width:90%;
    left: 12%;
    
  }
  .icons1{
    grid-template-columns:7em 7em 8em;
    grid-template-rows: auto auto auto;
padding: .5rem;
margin-left: 10%;
  }
 #insta{
   width: 4em;
   height: 4em;
 }
 #git{
  width: 5.6em;
  height: 5.6em;
  
  padding-top: 3px;
  padding-right: 0;
 }
 #message{
   width:10em;
   height: 8em;
   

 }
  #about{
    font-size: 1.2rem;
   margin:0;
   border:none;
   text-align: center;
}
footer{
  margin-top: 2em;
  width: 100%;
}
}